# Unreal Engine Standard Ignores
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.tmp
*.user
*.log
*.obj
*.pch

# Ignore plugin binaries/intermediates
Plugins/*/Intermediate/
Plugins/*/Binaries/

# Ignore ALL content (uasset / umap)
Content/**

# Allow only specific folders back
!Source/**
!Config/**
!*.uproject
!.gitignore
*.png
*.uasset
Animation/*
